body {background-image: url(https://wallpapercave.com/wp/wp2383840.jpg);}

img {max-width: 100%;}

.title{
height: 2.1%;
text-align:center;
font-size: 300%;
text-decoration: underline;
color:white;}

.subtitle1{
text-align:center;
font-size: 250%;
text-decoration: underline;
color:white;}

.subtitle2{
text-align:center;
font-size: 150%;
color:white;}

.cell{
width: 25%;
float: left;
text-align:center;
font-size: 150%;
text-decoration: underline;
color:white;}

.cell p{
font-weight: bold;}

.footer{
margin: 0;
text-align: center;
font-size: 150%;
color:white;}