body {background-image: url(https://wallpapercave.com/wp/wp2383840.jpg);}

.title{
margin: 0;
height: 2.1%;
text-align:center;
font-size: 300%;
text-decoration: underline;
color:white;}

.subtitle1{
margin: 0;
text-align:center;
font-size: 250%;
text-decoration: underline;
color:white;}

.subtitle2{
margin: 0;
text-align:center;
font-size: 150%;
color:white;}

.cell{
margin: 0;
width: 50%;
float: left;
text-align:center;
font-size: 150%;
text-decoration: underline;
color:white;}

.footer{
margin: 0;
text-align: center;
font-size: 150%;
color:white;}